# ignore those directories
production
foobar_challenge_Proj
.idea
welcome.log


# accept only .py and .txt files from tasks directories
task_*/*
!task_*/*.py
!task_*/*.txt

task_4/*.py
task_4/*.txt
!/task_4/simple.py
!/task_4/solution_graph_clean.py
